@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
    margin: 0;
    line-height: normal;
}
:root {
    /* fonts */
    --font-inter: Inter;

    /* font sizes */
    --font-size-xl: 20px;
    --font-size-45xl: 64px;
    --font-size-9xl: 28px;
    --font-size-11xl: 30px;
    --font-size-sm: 14px;
    --font-size-2xs: 11px;
    --font-size-base: 16px;

    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-yellow: #fff400;
    --color-goldenrod: #f9b736;
    --color-darkgray: #aaa8a8;
    --color-orange: rgba(248, 172, 24, 0.87);

    /* Border radiuses */
    --br-mini: 15px;
    --br-3xs: 10px;
}
